.card-label.mod-card-front {
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 8px !important;
    max-width: 198px !important;
  }
  
  .mod-card-front .label-text {
    display: inherit !important;
  }
  